@import "minimal-mistakes"; // optional, only if you want to re-import base styles

/* Your custom overrides here */
.masthead__menu {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.site-title {
  margin-left: 20px;  /* add space before MM */
}
