---
---
@import "minimal-mistakes"; // import default styles

body {
  background-image: url('/assets/images/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.site-title {
  margin-left: 20px;
}

