---
---
@import "minimal-mistakes"; // import default styles

body {
  background-image: url('/assets/images/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.masthead,
.masthead__inner-wrap,
.masthead__menu,
.masthead__menu-item,
#site-nav {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 4% !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: #1D3A50;
}


.masthead,.masthead__menu-item {
  background-color: #1D3A50; // or your desired color
}


.masthead .site-title {
  color: #ffffff !important; /* or #f0f0f0 for a softer look */
}



/* Color for the navigation links */
.masthead__menu-item a {
  color: #ffffff; /* white text for better contrast on dark background */
}

/* Optional: color on hover for navigation links */
.masthead__menu-item a:hover {
  color: #cccccc; /* subtle change on hover for interaction */
}



.page__footer {
  padding: 0 !important;
  margin: 0 !important;
}

/* Remove any extra padding from the inner footer elements */
.page__footer footer {
  padding: 0 !important;
  margin: 0 !important;
}

/* Remove margin from copyright area */
.page__footer-copyright {
  margin: 0 !important;
  padding: 0.75em 0 !important; /* Adjust for slight breathing room, or set to 0 */
  /*font-size: 0.85em;  Optional: slightly smaller text */
  /*text-align: center; Optional: keep it centered */
}
