---
---
@import "minimal-mistakes"; // import default styles

body {
  background-image: url('/assets/images/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.masthead,
.masthead__inner-wrap,
.masthead__menu,
#site-nav {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 4% !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: #1D3A50;
}


.masthead {
  background-color: #1D3A50; // or your desired color
}


.masthead .site-title {
  color: #ffffff !important; /* or #f0f0f0 for a softer look */
}



/* Color for the navigation links */
.masthead__menu-item a {
  color: #ffffff; /* white text for better contrast on dark background */
}

/* Optional: color on hover for navigation links */
.masthead__menu-item a:hover {
  color: #cccccc; /* subtle change on hover for interaction */
}


.page__footer {
  padding-top: 0.0em;  // reduce from default ~1.5em
  padding-bottom: 0.0em;


  .page__footer-copyright {
    margin-top: 0.0em; // reduce top margin
    margin-bottom: 0.0em;
  }

  .page__footer-follow {
    margin-top: 0.0em;
    margin-bottom: 0.0em;
  }
}
